<footer class="py-5" style="z-index: 20;">
    <div class="container text-center d-flex flex-column justify-content-center align-items-center">
        <p class="mb-2 fw-semibold">Follow me at:</p>
        <p class="mb-3">
            <a href="https://www.facebook.com/" class="mx-2" target="_blank"><img src="icon/icons8-facebook-48.png" alt="Facebook"></a>
            <a href="https://www.tiktok.com/@slabkim?is_from_webapp=1&sender_device=pc" class="mx-2" target="_blank"><img src="icon/icons8-tiktok-50.png" alt="Tiktok"></a>
            <a href="https://www.instagram.com/slabkim?igsh=aW40NTE0MnBieGdj&utm_source=qr" class="mx-2" target="_blank"><img src="icon/icons8-instagram-50.png" alt="Instagram"></a>
        </p>
        <p class="mb-0">&copy; 2025 Website Kami. All rights reserved.</p>
    </div>
</footer>