.custom-navbar {
    padding: 1rem 3rem !important;
    /* py-4 px-5 */
    z-index: 30;
}

.custom-navbar .navbar-nav {
    gap: 1.5rem;
    /* gap-4 */
    font-size: 1rem;
    /* fs-6 */
    font-weight: 400;
    /* fw-normal */
}

.custom-navbar .nav-link {
    color: #000 !important;
    text-decoration: none !important;
    padding: 0 !important;
}

.custom-navbar .nav-link.active {
    border-bottom: 2px solid #000;
    padding-bottom: 0.25rem !important;
}

.navbar-toggler {
    border: none !important;
    padding: 0.25rem !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

@media (max-width: 991.98px) {
    .custom-navbar .navbar-collapse {
        padding-top: 1rem;
    }
}